:root {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: rgba(255, 255, 255, 0.7);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.wrap{
  max-width: 780px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header h1{
  margin: 10px 0 30px;
  font-size: 30px;
}
.todo-button,
.todo-input{
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0.8em 1.2em;
  
  outline: none;
}
.todo-button {
  background-image: linear-gradient(to top, #ff0844 0%, #f33d3d 100%);
  font-family: inherit;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 8px -8px;
}
button:hover {
  background-image: linear-gradient(to top, #fa4545 0%, #ff0844 100%);
}
.todo-input{
  background-color: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;  
  width: 310px;
  box-shadow: rgba(50, 50, 93, 0.45) 4px 4px 5px 0px inset, rgba(0, 0, 0, 0.5) 8px 8px 8px -8px;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 347px;
  margin: 20px auto;
}

.todo-list{
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 5px 0;
}
.todo{
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 1em;
  align-items: center;
  margin: 8px 0;
  transition: all ease 0.5s;
}
.todo li{
  flex: 1;
  text-align: left;
  padding-left: 14px;
}
.trash-btn,
.complete-btn{
  padding: 0.8rem;
  color: #fff;
  border: none;
  cursor: pointer;
}
.complete-btn{
  background-color: #14a14a;
}
.complete-btn:hover{
  background-image: linear-gradient(to right top, #14a14a, #15ad4f, #16b955, #18c65a, #19d260);
}
.trash-btn{
  background-color: #d30303;
}
i{
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}